body{
  width:80 %;
  background-color:#faf0f8;
}
.flex-boxx{
  display:flex ;
  flex-direction:column;
  column-gap: 10px;
  justify-content: space-around;

}
.container h1{
  font-weight: 500;
  font-size: 45px;
  color:Black;
}
.container{
  font-family: 'times new roman',sans-serif;
  background-color: white;
  justify-content: center;
  width:50%;
  box-sizing: border-box;
  position: relative;
  left:25%;
  display: flex;
  border: 0px black solid;
  flex-direction: column;
  padding-left:10px;
  text-align: left;
  border-radius: 10px;
  maring-top:10px;

}
.container p{
  margin-bottom:15px;
  font-size: 18px;
  font-weight: 200;
}
input[type=text]{
  width: 40%;
  height:30px;
  padding: 5px 0px;
  margin-bottom:15px;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid black;
}
input:focus::placeholder{
  color:transparent;
}
input[type=text]:focus{
  outline:none;
  border:none;
  border-bottom: 2px solid purple;
}

.container h1{
  text-transform:uppercase;
  margin-bottom: 2px;
}

a:hover{
  opacity:0.7;
}

.Next-button{
  display:block;
  width: 10%;
  height:5%;
  border-radius:10px;
  border: 1px solid black;
  position: absolute;
  margin-top: 20px;
  left:65%;
  background-color: #660066;
  color:#fff;
  font-size:18px;
}
